@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark text-slate-900 dark:text-white antialiased;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.sidebar-item-active {
  @apply bg-white/5 border-r-2 border-primary text-white;
}

.sidebar-item-inactive {
  @apply text-slate-500 hover:text-white transition-colors;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-background-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full;
}

/* Chart Animations */
.chart-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  from { stroke-dashoffset: 1000; }
  to { stroke-dashoffset: 0; }
}
